<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=seyon2507;AccountKey=9MiDpQ3+TH4Qw9ArLtqbbXBEeDdGwzVz5oH8BwqP0gVFDy35zw3moyHWWfYBWm+9f1HmQ3gOCR5eSrH/ZFtDaw==;EndpointSuffix=core.windows.net"/>
</appSettings>
</configuration>